@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baumans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Red Hat Text",
    sans-serif;
}

.baumans {
  font-family: "Baumans", system-ui;
}

.fugaz {
  font-family: "Fugaz One", sans-serif;
}

.btn {
  @apply bg-gray-200 rounded-xl font-bold hover:shadow-2xl hover:shadow-white hover:transform-[scale(1.05)] duration-200 text-black cursor-pointer active:bg-white active:transform-[scale(1.01)] active:shadow px-4 py-3 relative z-10
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(8px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}